<div class="container-fluid">
  <div class="col-xs-12 col-12 col-md-5  form-group mx-auto">
    <h2> Book your favorite dates. </h2>
    <h4>Note: you can choose only unique date range. </h4>
    <input type="text"
           placeholder="Daterangepicker"
           class="form-control mb-3"
           bsDaterangepicker
           [bsConfig]="{ rangeInputFormat : 'DD.MM.YYYY', showWeekNumbers: false }"
           [datesDisabled]="disabledDates"
           [(ngModel)]="selectedDateRange"
    >
    <div class="button-wrapper d-flex justify-content-end">
      <button class="btn btn-primary" (click)="saveDates()">Save my choice</button>
    </div>
  </div>
</div>