:root {
  --colorText: #030302;
  --background: #f9f9f6;
  --primaryColor: #27244c;
  --secondaryColor: #ffffff;
  --accentColor: #58557c;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, app-root {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  background-color: var(--background);
  position: relative;
}

.site-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: 20px 0;
}

.header {
  background-color: var(--primaryColor);
  padding: 40px 15px;
}

.header .nav-link {
  color: var(--secondaryColor);
}

.header .nav-link.active {
  color: var(--secondaryColor);
  text-decoration: underline;
  font-weight: bold;
}